@media screen and (max-width: 700px){
    .container {
        display: flexbox;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        display: flexbox;
        flex-direction: column;
        font-size: 15px;
        font-weight: lighter;
        text-align: center;
    }

    .song img {
        height: 200px;
        width: 180px;
    }
    .footer{
        display: flexbox;
        align-items: center;
        width: 100%;
    }
}



